
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
  }
  
  .navbar {
    background: rgb(4,67,139);
    height: 80px;
    width: auto;
    min-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    color: #fafafa;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;

  }
  
  .fa-gem {
    margin-right: 0.5rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.6s ease;
    
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 100px;
    background: white;
    color: black;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background: #cdcdd3;
    transition: all 0.7s ease;
  }
  
  .navbar__links:hover {
    color: #9cb8eb;
    transition: all 0.3s ease;
  }
  .activ {
    color: black;
    font-size: 1.5rem;
    padding-left: 15%;
  }
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(4,67,139);
    overflow-x: hidden;
    padding-top: 20px;
}
.head{
    padding-left: 20%;
}
.sidebar a {
    padding: 1rem 2rem 4rem 3rem;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    display: grid;
    transition: all 1s ease;
}
.sidebar a:hover{
    transition: all 1s ease;
    color: #cdcdd3;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__logo {
    height: 90%;
    width: 90%;
    padding-left: 0.5rem;
    display: block;
}
.arch__logo {
    height: 80%;
    width: 80%;
    display: block;
    padding-left: .9rem;
}
.fav__logo {
    height: 80%;
    width: 80%;
    display: block;
    padding-left: 1rem;
}
.create__logo {
    height: 70%;
    width: 70%;
    display: block;
    padding-left: 0.7rem;
}
.settings__logo {
    height: 70%;
    width: 70%;
    display: block;
    margin-left: 0.5rem;   
}
.archives {
  padding-right: 7rem;
}
